<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/" method="POST">
      <label for="listing">List Here: </label>
      <input name="Name" required="required" placeholder="Write what you wanna list 'ere" size="25"/>
      <button type="submit">List It!</button>
    </form>




  </body>
</html>
