<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Client!</h1>
    <h2>Balance</h2>
    <p>Php </p>

    <form action="/client" method="POST">
      <h2>Withdraw</h2>
      <label for="withdraw_amount">How much? </label>
      <input name="withdraw_amount" required="required" placeholder="Enter amount to withdraw here" size="25"/>
      <button type="submit">Withdraw</button>
      </br></br>
    </form>
    <form action="/client" method="POST">
      <h2>Deposit</h2>
      <label for="deposit_amount">How much? </label>
      <input name="deposit_amount " required="required" placeholder="Enter amount to deposit here" size="25"/>
      <button type="submit">Deposit</button>
    </form>
  </body>
</html>
