<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In</h1>
    <form action="/clients" method="POST">
      <label for="card_number">Card Number </label>
      <input name="card_number" required="required" placeholder="Enter Card Number here" size="25" />
      </br></br>
      <label for="password">Password </label>
      <input name="password" required="required" placeholder="Enter Password here" size="25" type = "password"/>
      </br></br>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
