include html.html


html
   head
      title Simple template
   body
      include ./header.pug
      h3 I'm the main content
      h3 test image:
      img(src = "/static/BecauseIWoofSo.jpg", alt = "Testing Image")
      include ./footer.pug
