html
  head
    title Log In

  body
    if(message)
      h4(message)
    form(action = "/log_in", method = "POST")
      div
        label(for = "email") Email
        input(name = "email" email = "email" required placeholder = "E-mail")
      br
      div
        label(for = "password") Password
        input(name = "password" password = "password" required placeholder = "Password")
      br
      button(type = "submit") Log In
